
@{
    ViewBag.Title = "Success";
}
<br />
<div>
<br/>
<br />
   
<h4 style="padding-top:40px; padding-left:38px; font-size:30px; color:#fff; opacity:0.7;">Your monthly quote is:  @ViewBag.Quote</h4>
<br />


</div>


